.inputContainer{
    text-align: center;
    margin-top: 2em;
}
.ipInput{
    width: 30%;
    border-radius: 0.75rem 0 0 0.75rem;
    align-items: center;
    padding: 1em;
    border: none;
    font-size: 18px;
}
.ipInput:hover{
    cursor: pointer;
}
.ipInput:focus{
    outline: none;
}
.inputButton{
    background-color: hsl(0, 0%, 17%);
    width: 3%;
    padding: 1em;
    font-size: 18px;
    border: none;
    border-radius: 0 0.75rem 0.75rem 0;
}
.inputButton:hover {
    background-color: hsl(0, 0%, 59%);
    cursor: pointer;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 550px) {
    .ipInput{
        width: auto;
    }
}