/* .dashboardContainer{
    
    
   
} */
.dashboardTop{
    height: 38vh;
    width: 100%;
    background: url('../../img/pattern-bg.png') no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    
}
.dashboardHeading{
    color: white;
    text-align: center;
    font-weight: 400;
    margin-top: 1em;
}