.ipDetailsContainer{
    display: flex;
    align-items: center;
    text-align: left;
    background-color: violet;
    height: 17vh;
    border-radius: 0.7em;
    background-color: white;
    color: hsl(0, 0%, 17%);
    position: absolute;
    z-index: 999;
    left:50%;
    transform: translateX(-50%,-50%); 
     -webkit-transform: translate(-50%,-50%);
    min-width: 70vw;
}
.info{
    
    flex:4;
    padding: 0 2em;
    
}
.right-border{
    border-right: 1px solid hsl(0, 0%, 59%);
}
.infoTitle{
font-size: 10px;
}
.infoValue{
font-size: 1.5em;
font-weight: 500;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 500px) {
    .ipDetailsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: violet;
        height: auto;
        border-radius: 0.7em;
        background-color: white;
        color: hsl(0, 0%, 17%);
        position: absolute;
        z-index: 999;
        left:50%;
        transform: translateX(-50%,-50%); 
         -webkit-transform: translate(-50%,-50%);
        min-width: 70vw;
    }
    .right-border{
        border-right: none;
    }
    .info{
    
        flex:4;
        padding: 0.2em 2em;
        
    }
}