.ipDetailsContainer{
    display: flex;
    align-items: center;
    text-align: left;
    background-color: violet;
    height: 17vh;
    border-radius: 1em;
    background-color: white;
    color: hsl(0, 0%, 17%);
    position: absolute;
    z-index: 999;
    left:50%;
    transform: translateX(-50%,-50%); 
     -webkit-transform: translate(-50%,-50%);
     /* transform: translateY(-50%); 
     -webkit-transform: translateY(-50%); */
}
.info{
    
    flex:4;
    padding: 0 2em;
    
}
.right-border{
    border-right: 1px solid hsl(0, 0%, 59%);
}
.infoTitle{
font-size: 10px;
}
.infoValue{
font-size: 2em;
}